<ons-page>

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">NPG</div>
    </ons-toolbar>

    <ons-tabbar>
        <ons-tab page="views/home1.html" icon="fa-home" label="Home" active="true">
        </ons-tab>
        <ons-tab page="views/home2.html" icon="fa-database" label="Servers">
        </ons-tab>
        <ons-tab page="views/home3.html" icon="fa-group" label="Admins">
        </ons-tab>
    </ons-tabbar>


</ons-page>