<ons-page swipable="false">
	<ons-toolbar>
	  <div class="left"><ons-toolbar-button><i  class="fa fa-heartbeat" size="28px" fixed-width="false"></i></ons-toolbar-button></div>
	  <div class="center">NPG</div>
	  <div class="right"><ons-toolbar-button ng-click="menu.toggleMenu()"><i  class="fa fa-bars" size="28px" fixed-width="false"></i></ons-toolbar-button></div>
	</ons-toolbar>
    <div class="profile-card">
        <img src="images/npg.png" class="profile-image">
        <div class="profile-name">Noobsplayground</div>
        <div class="profile-desc">By gamers for gamers.</div>
    </div>
    <ons-row class="grid-menu" align="center">
        <ons-col align="center">
             <span>
            <i  class="fa fa-gamepad" size="56px" fixed-width="false"></i><br/>
            <span class="home-text">Games</span>
                 </span>
        </ons-col>
        <ons-col align="center">
            <span>
            <i  class="fa fa-database" size="56px" fixed-width="false"></i><br/>
            <span class="home-text">Servers</span>
            </span>
        </ons-col>
        <ons-col align="center">
             <span>
            <i  class="fa fa-group" size="56px" fixed-width="false"></i><br/>
            <span class="home-text">Admins</span>
                 </span>
        </ons-col>
    </ons-row>
    <ons-row class="grid-menu" align="center">

        <ons-col align="center">
             <span>
            <i  class="fa fa-bookmark" size="56px" fixed-width="false"></i><br/>
                    <span class="home-text">News</span>
             </span>
        </ons-col>

        <ons-col align="center">
             <span>
            <i  class="fa fa-paypal" size="56px" fixed-width="false"></i><br/>
                  <span class="home-text">Donate</span>
                 </span>
        </ons-col>

        <ons-col align="center">
            <span>
            <i  class="fa fa-user" size="56px" fixed-width="false"></i><br/>
                 <span class="home-text">Login</span>
              </span>
        </ons-col>
    </ons-row>


</ons-page>