<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back </ons-back-button></div>
        <div class="center"><i  class="fa fa-user" size="28px" fixed-width="false"></i> NPG Login</div>
        <div class="right"><ons-toolbar-button><i  class="fa fa-heartbeat" size="28px" fixed-width="false"></i></i></ons-toolbar-button></div>
    </ons-toolbar>
    <div class="login-form">

        <input type="text" class="text-input--underbar" placeholder="Username" value="">
        <input type="password" class="text-input--underbar" placeholder="Password" value="">
        <br><br>
        <ons-button modifier="large" class="login-button">Log In</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password">Admins only.</ons-button>
    </div>

    <div class="profile-card" style=" box-shadow: 0 10px 5px rgba(0,0,0,0.26);">
        <img src="images/npg.png" class="profile-image">
    </div>
</ons-page>